.App {
  text-align: center;
}

#root {
  position: relative;
  display: flex;
  height: 100%;
}


#content {
  margin-top: var(--header-height);
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
}