.container {
    height: 100%;
    /* min-height: -webkit-fill-available; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    background-color: #282c34;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    /* font-family: 'Lobster'; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 3vmin;
    box-shadow: none;
    margin: 2px;
    background-color: #303744;
    color: aliceblue;
    padding: 12px;
    border-radius: 5vmin;
}

.button:hover {
    background-color: #485264;
}

.button_border_left {
    border-radius: 5vmin 0 0 5vmin;
}

.button_border_right {
    border-radius: 0 5vmin 5vmin 0;
}

.button_border_center {
    border-radius: 0;
}


