.container {
    /* height: 100%; */
    /* min-height: -webkit-fill-available; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    overflow-y: scroll;
    flex-grow: 1;
}

.button {
    /* font-family: 'Lobster'; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-size: 3vmin; */
    box-shadow: none;
    margin: 2px;
    background-color: #303744;
    color: aliceblue;
    padding: 12px;
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    transition: background-color 200ms ease-in;
    background-color: #494f5a;
}
.button-highlight {
    background-color: #59606e;
}

.display {
    text-align: center;
    padding: 4vmin;
    font-family: 'Lobster';
    white-space: pre-line;
    font-size: 3rem;
    cursor: pointer;
}

.display-enter {
    opacity: 0;
    transform: translateX(-200px);
    filter: blur(5px);
  }
.display-enter-active {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
    transition: all 300ms;
}
/* .display-exit {
    opacity: 1;
}
.display-exit-active {
    opacity: 0;
    transition: opacity 200ms;
} */
