.container {
    /* height: 100%; */
    /* min-height: -webkit-fill-available; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    /* overflow-y: scroll; */
    flex-grow: 1;
    padding: 1rem;
}

.button {
    /* font-family: 'Lobster'; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 1.25rem;
    box-shadow: none;
    margin: 2px;
    background-color: #303744;
    color: aliceblue;
    padding: 12px;
    border-radius: 2rem;
    user-select: none;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3)
}

.button:hover {
    transition: background-color 200ms ease-in;
    background-color: #494f5a;
}
.button-highlight {
    background-color: #59606e;
}

.display {
    text-align: center;
    font-family: 'Lobster';
    padding: 2rem;
    padding-bottom: 5rem;
    white-space: pre-line;
    /* make font size scale with small screen sizes */
    font-size: min(3rem, 8vw);
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 5rem;
    border: none;
    background-color: #303744;
    margin: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3)
}

.display:hover {
    transition: background-color 200ms ease-in;
    background-color: #494f5a;
}

.display-enter:hover,
.display-appear,
.display-enter {
    opacity: 0;
    transform: translateX(-200px);
    filter: blur(5px);
}

.display-enter-active:hover,
.display-appear-active,
.display-enter-active {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
    transition: filter 300ms, transform 300ms, opacity 300ms,;
}


.display-exit:hover,
.display-exit {
    opacity: 0;
    transform: translateX(-200px);
    filter: blur(5px);
}

.display-exit-active:hover,
.display-exit-active {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
    transition: filter 300ms, transform 300ms, opacity 300ms,;
}

