.container {
    /* height: 100%; */
    /* min-height: -webkit-fill-available; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    overflow-y: scroll;
    flex-grow: 1;
}

.button {
    /* font-family: 'Lobster'; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-size: 3vmin; */
    box-shadow: none;
    margin: 2px;
    background-color: #303744;
    color: aliceblue;
    padding: 12px;
    border-radius: 3vmin;
    user-select: none;
}

.button:hover {
    background-color: #485264;
}

.button_border_left {
    border-radius: 3vmin 0 0 3vmin;
}

.button_border_right {
    border-radius: 0 3vmin 3vmin 0;
}

.button_border_single {
    border-radius: 3vmin;
}

.button_border_center {
    border-radius: 0;
}

.button-highlight {
    background-color: #59606e;
}

.display {
    text-align: center;
    /* overflow-y: scroll; */
    padding: 4vmin;
    font-family: 'Lobster';
    white-space: pre-line;
    font-size: 8vmin;
    /* height: 85vh; */
}

.button-section {
    width: 100%;
   
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-section--bottom {
    background: linear-gradient(#282c34, #16181d);
}