.topnav {
    background-color: #16181d;
    overflow: hidden;
    display: flex;
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: var(--header-height);
}

.fill-space {
    flex: auto;
}

.nav-item {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #16181d;
    border: none;
    transition: background-color 300ms linear;
}

.nav-item:hover {
    background-color: #303744;
    transition: background-color 300ms linear;
    /* color: black; */
}

/* Add a color to the active/current link */
.nav-item.active {
    background-color: #59606e;
    color: white;
}